### SQLite

* 파일기반 소용량의 데이터 베이스시스템
1. 공식사이트 : http://sqlite.com
2. 개발자
  - 1) 리차드 힙(richar hipp)이 2008.08월에 발표, c언어로 제작
  - 2) 최신버전 : 3.31.1
3. 개요 : 
  - 파일기반의 DBMS, 저 메모리, 빠른 처리속도
  - 오픈소스
  - 별도의 DB서버가 없어도 쉽고 빠르게 사용할 수 있는 Embeded SQL DB엔진
  - 안드로이드, 아이폰등의 스마트기기에 내장된 DB
  - 표준 SQL 문법을 지원
4. SQLite에서 지원하지 않는 기능(http://www.sqlite.com/omitted.html)
  - Right and Full outer join은 지원불가 : left outer join은 가능
  - Complete Alter Table 지원불가
  - Complete Trigger 지원불가
  - Writing to Views 지원불가 : 읽기 전용 View만 가능
  - Grant and Revoke 지원불가

5. SQLite 클라이언트 Tool
  - http://www.sqliteexpert.com
  - Personal 64bit 버전 다운로드 and install
  
  sqlite3 모듈을 파이썬의 표준 라이브러리이기 때문에 별도 설치 없이 사용할 수 있다.

In [1]:
import sqlite3
# 모듈버전확인
print('모듈버전 : ',sqlite3.version)
# DB 버전 확인
print('db버전 : ', sqlite3.sqlite_version)

모듈버전 :  2.6.0
db버전 :  3.31.1

##### 1. table 생성

In [2]:
def create_table():
    # 1. dbconnection
    # 해당폴더에 DB가 없으면 컨넥션할 때 자동으로 생성
    # 주의할 점 : 폴더 이름은 전체이름으로 설정할 것
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)fmf todtjd
    
    # 테이블 생성
    # 제목, 출판일, 출판사, 페이지수, 추천 여부
    cursor.execute('''
        create table if not exists books(
        title text,
        published_date text,
        publisher text,
        pages integer,
        recommand integer)
    ''')
    conn.commit()
    conn.close()
create_table()

##### 2. 데이터입력

In [3]:
# 1. 한건입력
def insert_table():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터입력 SQL
    cursor.execute('''
        insert into books values('JAVA','2020-01-01','한빛미디어',584,10)
    ''')
    
    conn.commit()
    conn.close()
insert_table()

In [4]:
# 2. 한건입력 : tuple을 이용한 1건 입력
def insert_table_01():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터입력 SQL
    sql ='insert into books values(?,?,?,?,?)'
    cursor.execute(sql,('python','2019-12-01','위키북스',500,20))
    conn.commit()
    conn.close()
insert_table_01()

In [5]:
# 3. 여러건건입력 : tuple을 이용한 1건 입력
def insert_table_02():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터입력 SQL
    sql ='insert into books values(?,?,?,?,?)'
    # 2. 튜플을 이용한 복수개의 데이털를 입력
    # 책의 정보를 담고 있는 튜플 리스트
    books = [
        ('bigdata','2018-01-01','더조은',296,2),
        ('안드로이드','2018-02-01','한빛',596,11),
        ('알까지','2018-03-01','길벗',300,3),
        ('SQLite','2018-04-01','교학사',26,2)
    ]
    
    # 3. 여러긴 입력 : executemany()
    cursor.executemany(sql,books) # 여러건 할때는 execute를 사용하지 않고 executemany를 사용해야한다.
    conn.commit()
    conn.close()
insert_table_02()

##### 3. 자료 조회

In [6]:
# 1. 전제자료 조회
def all_books():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터조회
    cursor.execute('select * from books')
    
    # 조회자료를 불러오기 : fetchall() : 모든 자료를 튜플로 리턴 
    books =cursor.fetchall()
    for book in books:
        print(book)
  
    conn.close()
    
all_books()

('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('python', '2019-12-01', '위키북스', 500, 20)
('bigdata', '2018-01-01', '더조은', 296, 2)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('알까지', '2018-03-01', '길벗', 300, 3)
('SQLite', '2018-04-01', '교학사', 26, 2)
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('python', '2019-12-01', '위키북스', 500, 20)
('bigdata', '2018-01-01', '더조은', 296, 2)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('알까지', '2018-03-01', '길벗', 300, 3)
('SQLite', '2018-04-01', '교학사', 26, 2)

In [7]:
# 2. 일부 자료 조회
def some_books(number):
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print('='*60)
    # 조회자료를 불러오기 : 
    # 1. fetchmany() : 일부 자료를 튜플로 리턴 
    books =cursor.fetchmany(number) # 괄호뒤에 건수 숫자가 들어감
    for book in books:
        print(book)
  
    conn.close()
    
some_books(3)
print()
some_books(2)

데이터 일부 출력하기
============================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('python', '2019-12-01', '위키북스', 500, 20)
('bigdata', '2018-01-01', '더조은', 296, 2)

데이터 일부 출력하기
============================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 10)
('python', '2019-12-01', '위키북스', 500, 20)

In [8]:
# 3. 한개 자료 조회
def one_books():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터조회
    cursor.execute('select * from books')
    print('데이터 일부 출력하기')
    print('='*60)
    
    # 조회자료 불러오기
    # 한건의 자료 불러오기 : fetchone() : 한개의 자료를 튜플로 리턴
    books = cursor.fetchone()
    
    
    # fetchone() : 열로 한개씩 찍혀 나온다.
    for book in books:
        print(book)
        
    # 한줄만 출력
    print(cursor.fetchone())
    
    conn.close()
    
one_books()

데이터 일부 출력하기
============================================================
JAVA
2020-01-01
한빛미디어
584
10
('python', '2019-12-01', '위키북스', 500, 20)

In [31]:
# 4. 조건별 자료 조회
def condition_books(pages):
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    # 데이터조회
    cursor.execute('select * from books where pages >='+str(pages))
    print(str(pages),'페이지 이상인 책을 출력하기')
    print('='*60)
    
    # 조회자료 불러오기
    books = cursor.fetchall()
    for book in books:
        print(book)
    
    conn.close()
    
condition_books(300)

300 페이지 이상인 책을 출력하기
============================================================
('JAVA', '2020-01-01', '한빛미디어', 584, 100)
('python', '2019-12-01', '위키북스', 500, 20)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('알까지', '2018-03-01', '길벗', 300, 3)
('JAVA', '2020-01-01', '한빛미디어', 584, 100)
('python', '2019-12-01', '위키북스', 500, 20)
('안드로이드', '2018-02-01', '한빛', 596, 11)
('알까지', '2018-03-01', '길벗', 300, 3)

###### 4. 자료수정

In [10]:
# 1. 자료수정 : JAVA라는 책의 추천수를 100으로 수정하기
def update_books():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
       
    sql = 'update books set recommand =? where title=?'    
    cursor.execute(sql,(100,'JAVA'))    

    conn.commit()
    conn.close()

    
update_books()

##### 5. 자료삭제

In [11]:
# 더좋은이라는 출판사 자료 삭제하기
def delete_books():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_book.db')
    cursor = conn.cursor() # cursor(sql을 실행하는 객체)를 생성
    
    sql = 'delete from books where publisher = ?'
    # 주의 사항
    # 값이 한개일 때 값이 여러개 일때는 리스트, 튜플형으로 설정해야 한다.
    # 즉 한개일 때 ['더좋은'], 여러개일 때는 ('더조은',)으로 해야한다.
    # 만약, 단순히 '더 좋은'이리고 하면 에러가 발생된다.
#     cursor.execute(sql,['더조은']) 더조은이 한개 있을 때 
    cursor.execute(sql,('더조은',))


        
    conn.commit()
    conn.close()

delete_books()

###### 연습문제 : 판매관리 DB

1. db생성 : '../data/db/my_sales.db'
2. sales 테이블 생성하기
   customer varchar(20)
   product varchar(20)
   price ploat
   date date
   함수이름 : create_table_sale
3. 테이블 조회 : show_table()
   1) sqlite_master 시스템테이블
   2) type = 'table'
   3) for table in tables:
4. 데이터추가 : insert_sales()
   1) 자료추가 : 리스트 = 테이블, 튜플 = 레코드
   2) 4건정도 추가
5. 데이터조회 : select_sales()
   1) 추가한 데이터 조회

In [17]:
# 1. db생성 : '../data/db/my_sales.db'
# 2. sales 테이블 생성하기

def create_table_sale():
    conn = sqlite3.connect('d:/kangmoonku/html5/data/db/my_sales.db')
    cursor= conn.cursor()
    
    cursor.execute('''
      create table if not exists sales(
      customer varchar(20),
      product varchar(20),
      price ploat,
      date date)
    ''')
    
    conn.commit()
    conn.close()
create_table_sale()

In [57]:
# 3. 테이블 조회 : show_table()
#    1) sqlite_master 시스템테이블
#    2) type = 'table'
#    3) for table in tables:
def show_table():
    conn =  sqlite3.connect('d:/kangmoonku/html5/data/db/my_sales.db')
    cursor = conn.cursor()
    
    sql = 'SELECT * FROM sqlite_master WHERE type="table"'
    
    cursor.execute(sql)    
    tables = cursor.fetchall()
    print(shows)
    
    for table in shows:
        print(table)
    conn.close()
    
show_table()

[('table', 'books', 'books', 2, 'CREATE TABLE books(\n      customer varchar(20),\n      product varchar(20),\n      price ploat,\n      date date)'), ('table', 'sales', 'sales', 3, 'CREATE TABLE sales(\n      customer varchar(20),\n      product varchar(20),\n      price ploat,\n      date date)')]
('table', 'books', 'books', 2, 'CREATE TABLE books(\n      customer varchar(20),\n      product varchar(20),\n      price ploat,\n      date date)')
('table', 'sales', 'sales', 3, 'CREATE TABLE sales(\n      customer varchar(20),\n      product varchar(20),\n      price ploat,\n      date date)')

In [75]:
# 4. 데이터추가 : insert_sales()
#    1) 자료추가 : 리스트 = 테이블, 튜플 = 레코드
#    2) 4건정도 추가
def insert_sales():
    conn =  sqlite3.connect('d:/kangmoonku/html5/data/db/my_sales.db')
    cursor = conn.cursor()
    
    sql = 'insert into sales values(?,?,?,?)'
    
    sales = [
        ('홍길동','사과', 5000,'2018-01-01'),
        ('홍길순','바나나',6000,'2018-02-01'),
        ('홍길지','자두',7000,'2018-03-01'),
        ('손흥민','배',8000,'2018-04-01'),
        ('red','배',8000,'2018-04-01')
    ]
    cursor.executemany(sql, sales) 
    conn.commit()
    conn.close()
insert_sales()

In [80]:
# 5. 데이터조회 : select_sales()
#    1) 추가한 데이터 조회
def select_sales(customer):
    conn =  sqlite3.connect('d:/kangmoonku/html5/data/db/my_sales.db')
    cursor = conn.cursor()
    
    print(customer,'(고객명) 에 대한 자료조회')
    # 데이터조회
    sql = 'select * from sales where customer ='+"'{}'".format(customer)
    
    # 조회자료를 불러오기 : fetchall() : 모든 자료를 튜플로 리턴 
    cursor.execute(sql)
    sales = cursor.fetchall()
    for sale in sales:
        print(sale)
    
    conn.close()
    
select_sales(input("고객명 입력=>"))

홍길동
홍길동 (고객명) 에 대한 자료조회
('홍길동', '사과', 5000, '2018-01-01')
('홍길동', '사과', 5000, '2018-01-01')

###### SQLite를  RAM메모리에서 직접 생성하고 사용하는 방법

sqlite에서 RAM메모리(`:memory:`)에 직접 생성해 사용하는 방법이다
장점은 RAM에서 실행되기 때문에 속도가 빠르다.
단점은 휘발성이기 때문에 저장이 되지 않는다.

In [68]:
import sqlite3

conn= sqlite3.connect(':memory:')
sql ='''
      create table if not exists sales(
      customer varchar(20),
      product varchar(20),
      price ploat,
      date date)
    '''
conn.execute(sql)

data = [
        ('홍길동','사과', 5000,'2018-01-01'),
        ('홍길순','바나나',6000,'2018-02-01'),
        ('홍길지','자두',7000,'2018-03-01'),
        ('손흥민','배',8000,'2018-04-01')
    ]
sql = 'insert into sales values(?,?,?,?)'
conn.executemany(sql,data)
conn.commit()

cursor = conn.execute('select * from sales')
rows = cursor.fetchall()
count=0
for row in rows:
    print(row)
    count +=1
    
print('rows:{}'.format(count))

('홍길동', '사과', 5000, '2018-01-01')
('홍길순', '바나나', 6000, '2018-02-01')
('홍길지', '자두', 7000, '2018-03-01')
('손흥민', '배', 8000, '2018-04-01')
rows:4